@media ( max-width: 1200px )
  .container
    max-width: 900px
    margin: auto
  .header
    &-menu
      &__link, &__button
        font-size: 14px
  .mainpage
    margin-bottom: 80px
    &-info
      &__labels
        width: 60%
  .information
    &-grid
      flex-direction: column
      &__info
        margin-top: 40px
      &__subtitle
        text-align: left
  .history
    &-container
      flex-direction: column
    &__info
      width: 100%
      text-align: center
    &__title
      width: 100%
    &__text
      width: 568px
      text-align: center
      margin-left: auto
      margin-right: auto
    &__buttons
      margin-bottom: 36px
@media ( max-width: 992px )
  .container
    max-width: 672px
  .header
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__block
      display: none
      &--visible
        display: block
        position: fixed
        left: 0
        right: 0
        bottom: 0
        top: 70px
        background-color: #fff
    &-menu
      flex-direction: column
      background-color: $light
      &__link
        margin-bottom: 30px
        font-size: 16px
        &--mobile
          &--visible
            display: block
      &__link:hover
        text-decoration: none
      &__button
        font-size: 16px
        margin-bottom: 60px
        &--mobile
          &--visible
            display: block
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $primary
  .mainpage
    margin-top: 110px
    &__bg
      width: 728px
      margin: auto
      background-position-x: -370px
      min-height: 624px
    &-info
      padding: 36px 0
      &__title
        font-size: 48px
        line-height: 60px
      &__subtitle
        width: 400px
        font-size: 18px
        line-height: 32px
      &__labels
        width: 444px
  .products
    margin-bottom: 80px
    &__header
      justify-content: center
      flex-wrap: wrap
      margin-bottom: 55px
    &__title
      flex-basis: 100%
      text-align: center
      margin: 0
      padding: 0
      margin-bottom: 28px
    &__wrapper
      justify-content: center
      align-content: center
      margin-right: auto
      margin-left: auto
  .card
    margin-right: 48px
    &:nth-child(2), &:nth-child(6)
      margin-right: 0
  .reviews
    &-slider
      width: 630px
      height: 415px

@media ( max-width: 767px)
  .container
    max-width: 600px
    width: 70%
  .mainpage
    &__bg
      width: 90%
      margin: auto
      background-position-x: -370px
      min-height: 624px
    &-info
      &__labels
        width: 100%
        flex-wrap: wrap
        justify-content: space-evenly
      &__title, &__subtitle
        width: 100%
  .modal
    &__dialog
      max-width: 460px
      padding: 25px 38px
    &__button
      margin-top: 15px
    &__title
      font-size: 40px
      line-height: 42px
  .information
    &-grid
      &__first
        margin-right: 20px
      &__item
        width: 100%
  .products
    &__wrapper
      width: 75%
      justify-content: space-evenly
      align-content: center
      margin-right: auto
      margin-left: auto
  .card
    width: 140px
    height: 234px
    margin-right: 10px
    &:nth-child(2), &:nth-child(6)
      margin-right: 0
    &__info
      &__more
        width: 140px
        height: 170px
        padding: 30% 22px
    &__icon
      width: 16px
      height: 16px
      &__more
        font-size: 28px
        line-height: 32px
    &__title
      &__more
        font-size: 17px
        line-height: 20px
    &__img
      width: 140px
      height: 170px
      object-fit: cover
  .reviews
    &-slider
      width: 90%
      height: 100%
    &__text
      font-size: 18px
      line-height: 40px
    &__author
      font-size: 19px
      line-height: 22px
  .history
    &-card
      width: 270px
      height: 475px
      // margin-right: 5px
    // &__image
    //   width: 200px
    // &__img
    //   width: 100%
    &__info
      padding: 10px 10px
    &__title
      font-size: 20px
      line-height: 30px
    &__link
      font-size: 15px
      line-height: 22px
  .swiper
    // &-wrapper
    //   &__history
    //     flex-direction: column
  //       justify-content: none
        // width: 90%
        // height: 475px
    &-slide
      &__history
        flex-direction: column
@media ( max-width: 576px)
  .container
    max-width: 540px
  .mainpage
    margin-bottom: 60px
    z-index: 3
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.0001) 49.32%, #E8EAE9 65.51%)
    &__bg
      width: 100%
      // position: absolute
      z-index: 0
    &__title
      width: 100%
      font-size: 32px
      line-height: 40px
      margin-bottom: 20px
    &__subtitle
      width: 100%
      font-size: 16px
      line-height: 28px
      margin-bottom: 24px
  .modal
    &__dialog
      width: 70%
      padding: 20px 30px
    &__title
      font-size: 40px
      line-height: 42px
    &__input
      padding: 10px 30px
    &__button
      margin-top: 15px
  .information
    &__images
      flex-direction: column
      align-items: center
      vertical-align: center
      justify-content: center
    &-grid
      align-items: center
      &__first
        margin-right: 0
      &__items
        flex-direction: row
        margin-top: 14px
        // width: 50%
        justify-content: space-between
        margin-right: 0
      &__item
        &--large
          width: 290px
          height: 300px
          object-fit: cover
        &--small
          width: 138px
          height: 100px
          margin-right: 14px
      &__item:last-child
        margin-right: 0
      &__info
        text-align: center
      &__title
        font-size: 28px
        line-height: 36px
      &__subtitle
        font-size: 16px
        line-height: 28px
        text-align: center
  .products
    &__wrapper
      width: 100%
  .card
    &__info
      &__bottom
        justify-content: start
    &__price
      margin-right: 5px
@media (min-width: 320px) and (max-width: 420px)
  .container
    width: 85%
  .header
    margin-bottom: 24px
  .mainpage
    width: 100%
    &__bg
      background-position-x: -750px
    &-info
      display: flex
      flex-direction: column
      align-content: center
      align-items: center
      margin-top: 310px
      &__title
        width: 100%
        font-size: 32px
        line-height: 40px
        text-align: center
        margin-bottom: 20px
      &__subtitle
        width: 100%
        font-size: 16px
        line-height: 28px
        text-align: center
        margin-bottom: 24px
      &__labels
        width: 100%
        font-size: 14px
        &::before:last-child
          flex-basis: 100%
      &__icon
        margin-right: 5px
        height: 30px
        width: 30px
      &__button
        vertical-align: center
        margin-left: auto
        margin-right: auto
        margin-bottom: 15px
      &__text
        &--green
          margin-top: 25px
          margin-bottom: 20px
  .modal
    &__dialog
      width: 85%
      padding: 10px 15px
      &__title
        font-size: 36px
        line-height: 40px
      &__input
        padding: 10px 30px
      &__button
        margin-top: 15px
  .information
    &-grid
      &__item
        border-radius: 0
      &__link
        font-size: 16px
        line-height: 22px
        &--image
          margin-left: 5px
  .products
    margin-bottom: 48px
    &__header
      margin-bottom: 36px
    &__title
      font-size: 28px
      line-height: 36px
    &__item
      font-size: 16px
      line-height: 22px
      margin-right: 16px
  .card
    width: 130px
    margin-right: 5px
      // margin-bottom: 20px
    &__icon
      width: 16px
      height: 16px
    &__info
      &__more
        width: 130px
        padding: 20% 10px
.reviews
  &__text
    line-height: 36px
  &__author
    margin-bottom: 48px
