
.header
  padding: 24px 0
  margin-bottom: 36px
  &-wrapper
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
  &-menu
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-basis: 50%
    &__button
      background-color: transparent
      border: 2px solid $secondary
      padding: 13px 24px
      font-size: 16px
      line-height: 22px
      color: $secondary
      cursor: pointer
    &__link
      text-decoration: none
      color: $primary
      font-size: 16px
      line-height: 22px
.menu
  &-button
    display: none
