.history
  margin-bottom: 140px
  &-container
    display: flex
    align-items: flex-start
    justify-content: space-between
  &__info
    width: 400px
  &__title
    font-family: HK Grotesk
    font-weight: 700
    font-style: normal
    font-size: 48px
    line-height: 60px
    margin: 0
    padding: 0
    margin-bottom: 20px
    color: $primary
    margin-top: -10px
    font-feature-settings: "locl" 0
  &__text
    font-size: 20px
    line-height: 36px
    color: $primary
    margin-top: 0
    padding: 0
    margin-bottom: 55px
  &__buttons
    margin-bottom: 20px
  &__button
    background-color: transparent
    border: none
    cursor: pointer
    outline: none
    &--prev

      margin-left: -6px
  &-card
    width: 322px
    height: 475px
    // overflow: hidden
    // border-radius: 8px
    &__image
      width: 100%
    &__img
      border-top-right-radius: 10px
      border-top-left-radius: 10px
    &__info
      padding: 20px 20px
      background-color: #fff
      position: absolute
      width: 322px
      margin-top: -20px
      margin-left: 10px
    &__title
      font-family: HK Grotesk
      font-weight: 500
      font-style: normal
      font-size: 22px
      line-height: 32px
      color: $primary
      margin: 0
      padding: 0
      margin-bottom: 12px
      font-feature-settings: "locl" 0
    &__link
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: $secondary
      text-decoration: none
    &__link:hover
      text-decoration: underline
      text-decoration-color: $secondary
  &__slider
    width: 670px
.swiper
  &-container
    width: 100%
  &-wrapper
    width: 100%
    &__history
      // width: 670px
      height: 475px
  &-slide
    &__history
      display: flex
      justify-content: space-between
      // width: 322px
