.products
  margin-bottom: 100px
  &__header
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 48px
  &__wrapper
    width: 100%
    display: grid
    align-items: center
    flex-wrap: wrap
    justify-content: space-between
    &--best
      justify-content: space-evenly
  &__list
    display: flex
    align-items: center
    justify-content: space-between
  &__item
    margin-right: 38px
    text-decoration: none
    font-size: 18px
    line-height: 25px
    color: $text
    border: none
    background-color: transparent
  &__item:hover
    text-decoration: underline
    text-decoration-color: $text
  &__item:focus
    font-weight: bold
    font-size: 18px
    line-height: 25px
    color: $primary
  &__item:last-child
    margin-right: 0
  &__title
    font-family: HK Grotesk
    font-weight: 700
    font-size: 48px
    line-height: 60px
    color: $primary
    margin: 0
    padding: 0
    font-feature-settings: "locl" 0
.card
  width: 260px
  height: 441px
  // margin-right: 20px
  margin-bottom: 50px
  cursor: pointer
  &__new
    &--one
      grid-row: 1
      grid-column: 1
    &--two
      grid-row: 1
      grid-column: 2
    &--tree
      grid-row: 1
      grid-column: 3
    &--four
      grid-row: 1
      grid-column: 4
    &--five
      grid-row: 2
      grid-column: 1
    &--six
      grid-row: 2
      grid-column: 2
    &--seven
      grid-row: 2
      grid-column: 3
    &--eight
      grid-row: 2
      grid-column: 4
  &__best
    &--one
      grid-row: 1
      grid-column: 1
    &--two
      grid-row: 1
      grid-column: 2
    &--three
      grid-row: 1
      grid-column: 3
    &--four
      grid-row: 2
      grid-column: 1
    &--five
      grid-row: 2
      grid-column: 2
    &--eight
      grid-row: 2
      grid-column: 3
  &__soon
    &--five
      grid-row: 1
      grid-column: 1
    &--six
      grid-row: 1
      grid-column: 2
    &--seven
      grid-row: 1
      grid-column: 3
    &--eight
      grid-row: 1
      grid-column: 4
  &__image
    border-radius: 8px
    overflow: hidden
    margin-bottom: 20px
  &__info
    padding: 0 6px
    &__more
      width: 260px
      height: 350px
      background: $secondary
      border-radius: 8px
      color: $light
      text-align: center
      padding: 50% 22px
    &__bottom
      display: flex
      align-items: center
      justify-content: space-between
  &__title
    font-family: HK Grotesk
    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 32px
    color: $primary
    margin: 0
    padding: 0
    font-feature-settings: "locl" 0
    &__more
      font-family: HK Grotesk
      font-weight: 700
      font-style: normal
      align-items: center
      font-size: 24px
      line-height: 32px
      margin: 0
      padding: 0
      font-feature-settings: "locl" 0
  &__price
    font-size: 14px
    line-height: 24px
    color: $text
  &__icon
    &__more
      font-size: 32px
      line-height: 37px
      margin: 0
      padding: 0
.tabcontent
  display: none
